.bookmarkSidebar {
  position: fixed;
  width: 375px;
  height: 1080px;
  background-color: white;
  margin-left: 105px;
  margin-top: -8px;
  z-index: 1;
}

#bar {
  margin-top: 18px;
  width: 375px;
  height: 82px;
}

#title {
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
}

#middleBar {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  height: 36px;
  font-size: 15px;
}

#bookmarkList {
  font-weight: bold;
  display: grid;
  width: 187.5px;
  place-items: center;
  border-bottom: 2px solid black;
}

#articleList {
  width: 187.5px;
  display: grid;
  place-items: center;
  color: #6f6f6f;
  border-bottom: 2px solid #d9d9d9;
}

#closedButton {
  position: fixed;
  margin-left: 476px;
  z-index: 2;
  margin-top: 412px;
}
