.sidebar {
    position: fixed;
    top: 0;
    left: 110px;
    width: 375px;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 999;
}

.title {
    font-size: 20px;
    font-weight : bolder;
    margin-top: 30px;
    margin-left : 20px;
    margin-bottom: 40px;
}

/* .subTitle {
    border-bottom : 2px solid #D9D9D9;
} */

.listName {
    font-size: 15px;
    font-weight :bolder;
    margin-left : 70px;
    margin-bottom: 30px;
}

.listDetail {
    margin-left : 20px;
}

.circle1 {
    width: 4px;
    height : 4px;
    background-color: #4AB2C9;
    border-radius: 50%;
    margin-right: 5px;
}

.circle2 {
    width: 2px;
    height : 2px;
    background-color: #6F6F6F;
    border-radius: 50%;
    margin-right: 5px;
}

.separator {
    border-top: 1px solid #D9D9D9;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left : -20px;
}