.MainMenubar {
  position: fixed;
  display: flex;
  width: 110px;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-right-color: #4ab2c9;
  border-width: 2px;
  background-color: white;
}

#initBackMenu {
  width: 110px;
  height: 1080px;
}

#zeroAround {
  width: 58.01px;
  height: 46px;
}

#mapHomeImg {
  width: 42px;
  height: 72px;
}

#findWay {
  width: 42px;
  height: 71px;
}

#article {
  width: 74px;
  height: 69px;
}

#bookMark {
  width: 42px;
  height: 65px;
}

#myPage {
  width: 70px;
  height: 74px;
}

img {
  margin-top: 30px;
}

#openbutton {
  position: fixed;
  margin: 0;
  top: 423px;
  left: 108.6px;
  width: 51px;
  height: 63px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
}
